In [1]:
import pandas as pd
import sqlite3

# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
#connect
conn = sqlite3.connect('testDB.sqlite')

In [3]:
#obtain a cursor - something to loop through via database connection
cur = conn.cursor()

In [4]:
read_word_data = pd.read_csv (r'all_word_data.csv')
read_word_data.to_sql('WORDS', conn, if_exists='append', index = False) # Insert the values from the csv file into the table 'WORDS'

In [6]:
# Query All Records in the the City Table
word_data = pd.read_sql("SELECT * FROM WORDS", conn)

In [7]:
word_data.tail()

,author_group,author,title,word,frequency,total_words_used,total_non_stop_words,total_unique_non_stop_words
11503,journalists,Maggie Michael,MMichael3,years,3,764,459,283
11504,poets,E. E. Cummings,Poet4_Poem2,yore,3,1094,608,363
11505,journalists,David Barstow,DBarstow1,young,5,6958,3862,1517
11506,journalists,David Barstow,DBarstow4,FALSE,3,13893,8124,2612
11507,songwriters,Elvis Presley,artist3_song1,TRUE,6,222,78,40